# Order is important; the last matching pattern takes the most precedence.
* @aphrody/plugin-maintainers

# Currently CI/CD for plugins are in heavy flux, and the plugin team manages it themselves.
# .github @aphrody/wg-devops
